*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: inline-block;
    
}
.navbar a {
    margin-right: 190px;
}

.sidebar img {
    display: block;
}

.sidebar{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(121, 223, 155);
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.home-icon{
    margin-bottom: 700px;
    width: 30px;
    height: 30px;
}

.social-icons img {
    margin-top: 15px;
    margin-bottom: 9px;
    width: 30px;
    height: 30px;
}

.content{
    margin-left: 60px;
    width: calc(100% - 60px);
    background-color: #fff;
    padding: 50px 70px 50px 130px;
}
/* .sidebar .social-icons{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: green;
} */
.columa-izquierda{
    position: relative;
    padding: 15px;
}
.formulario{
    width: 400px;
    height: 400px;
    background-color: #cacaca;
    align-items:center;
}

main{
    height: 78;
    width: 162vh;
    position: absolute;
    margin-right: 190px;
    margin-top: 50px;
    box-shadow:  1px 2px 40px #cacaca;
}
main .columna-izquierda{
    margin: 0;
    position: relative;
    width: 800px;
    height: 800px;
    background-color: slateblue;
}
main .columa-derecha{
    margin: 0;
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0;
    left: 800px;
    background-color: rgb(70, 67, 90);
}